# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/build/
backend/dist/

# Node
frontend/node_modules/
frontend/dist/
frontend/dist/*.pkg
bundled-ai/*
!bundled-ai/README.md

# macOS
.DS_Store

# VS Code
.vscode/

# Environment variables
.env
